.glavni {
	
	display: grid;
	background-color: #028090;
	background-image: url("https://www.transparenttextures.com/patterns/elegant-grid.png");
	margin: auto;
	border: 5px solid #E4FDE1;
	max-width: 1000px;
    grid-template-areas:
		"zaglavlje"
		"podnaslov"
		"treci-dio" 
		"zadnji-dio";
}

.zaglavlje {
	
	grid-area: zaglavlje;
	background-color: #114B5F;
	display: flex;
	padding: 0px 10px;
}

.podnaslov {

	border-top: 4px solid #E4FDE1;
	border-bottom: 4px solid #E4FDE1;
	grid-area: podnaslov;
}

.stat {

	width: 80%;
	float: left;
	text-align: left;
	font-size: 15pt;
}

.text-ime {

	float: right;
	text-align: right;
	font-size: 15pt;
}

.treci-dio {
	
	display: grid;
	grid-area: treci-dio;
	grid-template-columns: 1fr 2fr;
	overflow: hidden;
	box-sizing: border-box;
}

.zadnji-dio {

	grid-area: zadnji-dio;
}

.spirala-dio h1{

	font-size: 15pt;
	padding: 10px 0px;
	margin: auto;
	background-color: #114B5F;
	border-top: 4px solid #E4FDE1;
	border-bottom: 4px solid #E4FDE1;
	text-align: center;
}

.komentari-dio {
	
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	padding: 30px 30px;
}

.komentar, .marks {
	
	border: 4px solid #114B5F;
	overflow-x: hidden;
	overflow-y: auto;
	word-wrap: break-word;
	background-color: #E4FDE1;
	color: black;
	font-family: sans-serif;
	font-size: 12pt;
	height: 300px;
	padding: 5px;
}

.marks{

	height: 250px;
}

.stranice {
	
	text-align: center;
	padding-bottom: 30px;
	padding-top: 20px;
}

.pagination {
	
    display: inline-block;
}

.pagination button {
	
    color: #114B5F;
	font-weight: bold;
    float: left;
	font-size: 12pt;
    padding: 10px 15px;
    text-decoration: none;
	background-color: #E4FDE1;
    border: 1px solid #114B5F;
}

.tabela {
	
	display: flex;
	width: 100%;
	height: 100%;
	justify-content:center;
	align-items:center;
	border-left: 4px solid #E4FDE1;
}

table, th, td{

	border: 4px solid #114B5F;
	padding: 5px;
}

table {

	word-wrap: break-word;
	word-break: break-all;
	width: 100%;
    height: 100%;
	border-collapse: collapse;
	font-size: 12pt;
}

table th {
	
	background-color: #D8262E;
	color: #FDFFFC;
}

table tr {
	
	background-color: #E4FDE1;
}

h1, .tabela {
	
	font-family: sans-serif;
	color: #FDFFFC;
}

.com{

	color: #FDFFFC;
	height: fit-content;
	font-size: 15pt;
	font-family: sans-serif;
	padding: 0px 10px;
	max-width: 50%;
}

@media(max-width: 700px) {
	
	.treci-dio {

		grid-template-columns: repeat(1, 1fr);
	}
	
	.komentari-dio {
		
		grid-template-columns: repeat(1, 1fr);
	}

	.tabela{

		border-top: 4px solid #E4FDE1;
		border-left: none;
	}
}